.audioPlayer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f2f3;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    gap: 20px;
    align-items: center;
    z-index: 33;
    audio{
        width: 80%;
    }
}

@media (max-width:450px){
    .audioPlayer{
        gap: 10px;
        font-size: .9rem;
        flex-direction: column;
        audio{
            width: 100%;
        }
    }
}